.custom-bg {
  background-image: url('./assets/34885711_10212103000507362_8628556806236405760_o.jpg');
}

.img-background0 {
  background-image: url('./assets/movie.png');
}

.img-background1 {
  background-image: url('./assets/8ccddfb1-13db-4fe9-935a-0bd72d3f64ee.jpg');
}

.img-background2 {
  background-image: url('./assets/Christina-Watkins-Photography-76.jpg');
}




